<main role="main" class="container center">
  <pb-breadcrumbs>
    <a [routerLink]="['/']">Home / About</a>
  </pb-breadcrumbs>

  <div class="abcard">
    <img src="../../assets/logo.png" />

    <h2>SpendWise</h2>
    <span
      >Welcome to <span class="sb">SpendWise</span> – SpendWise is your ultimate
      personal budgeting companion, designed to empower you with financial
      control and smart spending habits. With SpendWise, effortlessly manage
      your expenses, track your income, and set realistic budgets tailored to
      your lifestyle. Gain insights through intuitive visualizations and
      customizable reports that illuminate your spending patterns. Stay on top
      of your financial goals with timely reminders and personalized tips to
      optimize your spending. For any questions reach out at
      <span class="sb">ragrawa8@uncc.edu.</span>
    </span>
    <!-- <h3>Nbad final Project</h3> -->
  </div>
</main>
