img
{border-radius: 50%;
margin: 10px;
height: 100px;
width: 100px;}

h3{
    font-size: 20px;
    color: #176B87;
}
h2{
    
    color: #176B87;
}


.sb
{
    font-weight: bolder;
    color: #176B87;
}

.abcard
{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 40px;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 140px;
  
}