label {
  text-align: left;
}

.container
{
  background-color: #176B87;
  height: 45vh;
  margin-bottom: 155px;
  margin-top: 148px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  align-items: center;
  justify-content: center;
  height: 48vh;
}

h1
{
background-color: #04364A ;
align-items: center;
text-align: center;
padding: 10px;
border-radius: 15px;
font-size: 25px;
color: #fff;

}

.form-group
{
width: 100%;
margin: auto;

}

input
{
  width: 100%;
  border-radius: 15px;
  height: 50px;
}

button
{
  background-color: #04364A;
  margin: auto;
  margin-right: 5px;
  border-radius: 15px;
}

a{
  background: none;
  border: 1px #2D4059 solid ;
  margin: auto;
  margin-right: 5px;
  color: #fff;
  border-radius: 15px;
  background-color: #04364A;
}

button:hover 
{
  transform: scale(1.03);
  background-color: #64CCC5;
}

a:hover 
{
  transform: scale(1.03);
  background-color: #64CCC5;
}